body{
    background-color: #f8f8f8;
}

.ta-c{
    text-align: center;
}

.contentBlock{
    margin-bottom: 70px;
}

.whiteBlock{
    background-color: #fff;
}

.catTitle{

}

.secTitle{

}

.customTable{
    table-layout: fixed;
    width: 1177px;
}

.customTable > thead > tr > th{
    background-color: #f2f3f3;
    margin: 20px 0 60px 0;
}
.customTable > tbody > tr > td{
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}