body{
    background-color: #f8f8f8;
    font-family: "H", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size:12px;
}

.ta-c{
    text-align: center;
}

.contentBlock{
    margin-bottom: 30px;
}

.whiteBlock{
    background-color: #fff;
    padding: 10px 20px;
}

.catTitle{
    font-size: 18px;
}

.secTitle{
    font-size: 14px;
}

.customTable{
    table-layout: fixed;
    /*width: 1177px;*/
    width: 100%;
    text-align:left;
    line-break: loose;
}

.customTable > thead > tr > th{
    margin: 20px 0 60px 0;
    padding:10px 6px 2px 6px;
    background-color: #f2f3f3;
}
.customTable > tbody > tr > td{
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding:2px 6px;
}